<app-menu></app-menu>

<body>
    <div class="container">
            <div class="row centered-form">
                <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Registro</h3>
                        </div>
                        <div class="panel-body">
                            <form [formGroup]="nuevoForm" (ngSubmit)="postForm()">
                                <div class="row">
                                    <div class="form-group col-xs-12">
                                            <input type="text" formControlName="name"  class="form-control input-sm floatlabel" placeholder="Ingrese Nombre">
                                    </div>
                                    <div class="form-group col-xs-12">
                                            <input type="text" formControlName="patronus" class="form-control input-sm floatlabel" placeholder="Patronus">
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <input type="number" formControlName="yearOfBirth" class="form-control input-sm floatlabel" placeholder="Año de nacimiento">
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <input type="text" formControlName="image" class="form-control input-sm floatlabel" placeholder="Ingrese URL de la imagen">
                                        </div>
                                    </div>
                                </div>
                                <input type="submit" value="Registrar" class="btn btn-info btn-block" >
                            </form>                        
                        </div>
                    </div>                    
                </div>            
            </div>        
        </div>
</body>